 html {
    font-size: 90.5%;
  }
  
 .mainBox{
    min-height: 100vh;
    width: 100vw;
    background-color: #d9dee2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  p {
    font-size: 1rem;
  }
  
  h1 {
    font-size: 5rem;
    text-transform: capitalize;
  }

 .mainBox form {
    background: rgb(255, 255, 255);
    padding: 2rem;
    outline: none;
    color: rgb(58, 57, 57);
    text-align: left;
  }
 
.mainBox  form input {
    min-width: 20rem;
    height: 2rem;
    font-size: 1.2rem;
    text-align: left;
    margin-top: 1.5rem;
    padding: 1.5rem;
    outline: #000;
  }
  
  .outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
  .outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  .custom-control-label {
    font-weight: 400;
  }
  
  .forgot-password,
  .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
  }
  
  .forgot-password a {
    color: #167bff;
  }


